/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    margin-top: 10px;
  }

  nav img{
    width: 2rem;
    height:2rem;
    display:block;
  }
  
  .navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    display: none;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #f4a261;
  }
  
  section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    color: #333;
  }
  
  section p {
    color: #555;
  }

  #skills img{
    width:5rem;
    height: 5rem;;
  }

  #skills .images{
    display: flex;
    justify-content: space-evenly;
  }

  
  @media only screen and (max-width: 768px) {  

   body{
    background-color: rgb(78, 77, 77);
   } 

   #about-me img{
    display: none;

   }
  }